
*{
    margin: 0;
    padding: 0;
}



/* Custom styles for the header */
  .header {
    background-color: #ffffff !important;
    padding: 0 50px;
  }
  
  .navbar-brand img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .navbar-cta {
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #1cb438;
    border-radius: 10px;
  }
  
  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the spacing between navigation items */
  }
  
  .navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #555;
  }
  

  /* Media query for mobile responsiveness */
 
  @media (max-width: 768px) {
    header {
      padding: 0 0px;
    }
  
    .navbar-nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .navbar-collapse {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .navbar-cta {
      flex: 1;
      margin: 10px;
      width: calc(100% - 20px);
      text-align: center; /* Align text to center */
    }
  
    .navbar-toggler {
      border-color: #333;
    }
  
    .navbar-toggler-icon {
      background-color: #333;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
   

 .navbar-cta {
      flex: 1;
      margin: 0px;
      margin-top: 20px;
    }

  }
  





















/* Styles for the hero section */
.hero-section {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
  }

  .slideshow-image {
    filter: brightness(50%);
    
  }
  
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease;
    object-fit: cover;
  }
  
  .slideshow-image.active {
    opacity: 1;
  }
  


  /* Styles for the caption */
  .caption {
    position: absolute;
    top: 50%;
    left: 150px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    width: 600px;
   border-radius: 20px;
   
    padding: 30px;
  }

  .caption h1{
    color: #fff;
    text-align: left;
    font-size: 54px;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
  }

  .caption h1 i{
    color: #1cb438;
  }

  .caption p{
    color: #fff;
    text-align: left;
    font-size: 24px;
    
    font-family: 'Baloo 2', cursive;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      height: 100vh; /* Adjust the height for mobile */
    }
  
    .caption {
        width: 100%;
        padding: 10px;
        top: 60%;
        left: 0; /* Move the caption to the horizontal center */
         /* Center the caption vertically and horizontally */

      }

    .caption h1{
        color: #fff;
        text-align: left;
        font-size: 35px;
        font-weight: bold;
      }
    
      .caption p{
        color: #fff;
        text-align: left;
        font-size: 19px;
        
      }


  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .hero-section {
      height: 500px; /* Adjust the height for iPad */
    }
  
    .caption {
        top: 60%;
      width: 500px;
      left: 20px; /* Adjust the left position for iPad */
      transform: translateY(-50%); /* Reset the transform for vertical centering */
    }

    .caption h1{
        color: #fff;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
      }


    .caption p{
        color: #fff;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
      }
  }
  
  






  .about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px 150px;
    font-family: 'Baloo 2', cursive;
  }
  
  .grid-item {
    
    padding: 10px;
  }
  
  .item1 h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(44, 44, 44);
  }
  
  .item1 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1cb438;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }

  .about-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 0;
    margin-top: 20px;
    
  }

  .about-icons i{
    font-size: 40px;
    color: #1cb438;
    
  }
  
  .item2 img,
  .item3 img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .item4 h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #242423;
  }
  
  .item4 p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .grid-item.item4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 100%;
  }
  
  .card1 {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(10, 160, 60, 0.644));
  }
  
  .card2 {
    background: linear-gradient(45deg, rgba(61, 110, 4, 0.671), rgba(255, 255, 255, 0.2));
  }
  
  .card3 {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(11, 101, 161, 0.623));
  }
  
  .product-card i {
    margin-right: 10px;
    color: #4b4802;
  }
  
  .product-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-text h3{
    font-size: 20px;
  }
  



  @media (max-width: 767px) {
    .about-section {
      grid-template-columns: 1fr;
      padding: 50px 20px;
    }
    
    .grid-item {
      padding: 0;
      margin-bottom: 20px;
    }
    
    .item1 h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .item1 p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .cta-button {
      font-size: 14px;
      padding: 8px 15px;
    }
    
    .about-icons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px 20px 0;
      margin-top: 20px;
      
    }
    
    
    .about-icons i {
      font-size: 30px;
    }
    
    .item2 img {
      width: 100%;
      height: auto;
      order: 1; /* Change the order to 1 */
    }
    
    .item3 img {
      display: none;
      width: 100%;
      height: auto;
      order: 2; /* Change the order to 2 */
    }
    
    .item4 h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    
    .item4 p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .grid-item.item4 {
      align-items: center;
      padding-top: 0;
      
    }
    
    .product-card {
      height: auto;
      flex-direction: row;
      align-items: center;
      padding: 20px;
      width: 100%;
    }
    
    .product-card i {
      margin-right: 0;
      
    }
    
    .product-text h3 {
      font-size: 16px;
    }
  }
  


  @media (min-width: 768px) and (max-width: 1023px) {
    .about-section {
      
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 80px 20px;
    }
    
    .grid-item {
      padding: 10px;
    }
    
    .item1 h1 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    
    .item1 p {
      font-size: 18px;
      margin-bottom: 25px;
    }
    
    .cta-button {
      font-size: 16px;
      padding: 12px 25px;
    }
    
    .about-icons {
      padding: 20px;
      justify-content: space-between;
    }
    
    .about-icons i {
      font-size: 50px;
    }
    
    .item4 h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    
    .item4 p {
      font-size: 18px;
      margin-bottom: 25px;
    }
    
    .product-card {
      height: 100px;
      width: 100%;
    }
    
    .product-text h3 {
      font-size: 22px;
    }
  }
  
  











/* Product section styles */
.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px;
  background-color: #6c8070;
  overflow: hidden;
  font-family: 'Baloo 2', cursive;
}

.product-heading {
  text-align: center;
  margin-bottom: 20px;
}

.product-heading h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}
 


.product-heading p {
  font-size: 20px;
  color: #ffffff;

}




.product-grid-container {
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
}

.product-grid-container::-webkit-scrollbar {
  /* Hide the scroll bar for Chrome, Safari, and Opera */
  display: none;
}


.product-grid {
  display: flex;
  flex-wrap: nowrap;
  
}




.product-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffffbe;
  padding: 20px ;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.171);
  flex: 0 0 auto;
  max-width: 280px; /* Decrease the width to make the items narrower */
  margin-right: 20px;
 

}

.product-grid-item.show {
  opacity: 1; /* Show the product-grid-items */
  transform: translatex(0); /* Move the product-grid-items up */
}

.product-grid-item h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  width: 150px;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
}

.icon-image {
  border-radius: 50%;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.card-image {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  
}

.card-image img {
  
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-grid-item p {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  text-align: center;
}


.product-cta {
  display: block; /* Change display to block */
  margin: 0 auto; /* Add auto margin to horizontally center */
  padding: 4px 20px;
  background-color: #1cb438;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.4s ease;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.274);
  width: fit-content;
}

.product-cta:hover {
  background-color: #0f3d3b;
  text-decoration: none;
  color: #ffffff;
}





@media screen and (max-width: 767px) {
  .product-section {
    padding: 30px;
  }

  .product-heading h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .product-heading p {
    font-size: 16px;
  }

  .product-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snap */
  }

  .product-grid-item {
    margin-right: 20px;
    margin-bottom: 0;
    flex: 0 0 auto;
    scroll-snap-align: start; /* Align items to the start of the scroll snap container */
  }

  .product-grid-item:first-child {
    margin-left: 20px; /* Add left margin to the first item */
  }

  .product-grid-item:last-child {
    margin-right: 20px; /* Add right margin to the last item */
  }

  .product-grid-item.show {
    transform: none;
  }

  .product-grid-item h1 {
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;
  }

  .card-image {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-image img {
    max-width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .product-grid-item p {
    font-size: 14px;
  }
}






















.partners-section {
  padding: 50px ;
  background-color: #ffffff;
}

.partners-heading {
  text-align: center;
  margin-bottom: 30px;
}

.partners-heading h2 {
  color: #333;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner {
  padding: 20px;
}

.partner img {
  max-width: 200px;
  max-height: 100px;
}



@media screen and (max-width: 767px) {
  .partners-section {
    padding: 20px;
    
  }

  .partners-heading {
    margin-bottom: 10px;
  }

  .partners-container {
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
  }

  .partner {
    width: 30%;
    padding: 10px;
  }

  .partner img {
    max-width: 80px;
    max-height: 80px;
  }

  .partners-heading h2 {
    color: #333;
    font-size: 22px
  }
}



















.contact-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 150px;
  font-family: 'Baloo 2', cursive;
  height: 650px;
  opacity: 1; /* Initially set opacity to 0 */
  transition: opacity 0.5s ease-in-out; /* Add transition for smooth fade-in effect */
  overflow: hidden; /* Hide any overflowing content */
}

.contact-section.fade-in {
  opacity: 1; /* Set opacity to 1 for fade-in effect */
}


.contact-heading {
  flex: 1;
  width: 400px;

}

.contact-heading i {
  color: #F9F00F;
  margin-left: 10px;
}

.contact-heading h1{
color: white;
text-align: left;
}

.contact-heading p{
  color: white;
  font-size: 20px;
  text-align: left;
  }

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #79B1C5;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 100%; /* Make the contact content div occupy the full height */
  

}

.contact-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Set aspect ratio (16:9) for responsive video */
  overflow: hidden;
}

.contact-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.contact-form {
  flex: 1;
  margin-left: 20px; /* Add margin to create spacing between the divs */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 20px 20px 8px rgba(121, 177, 197, 1);
  height: 100%; /* Make the contact content div occupy the full height */
  
}


.contact-form form {
  display: grid;
  grid-gap: 1px;
  margin-bottom: 20px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form label i{
  color: #1cb438;
  margin-right: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #79B1C5;
  border-radius: 3px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #1cb438;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}


.contact-form h3{
  font-size: 18px;
}


@media screen and (max-width: 767px) {

  .contact-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
    height: auto; /* Reset height for smaller screens */
    overflow: visible; /* Reset overflow property */
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; /* Reset height for smaller screens */
  }

  .contact-heading {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .contact-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Set aspect ratio (16:9) for responsive video */
    overflow: hidden;
  }

  .contact-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-form {
    width: 100%;
    margin: 0;
    height: auto; /* Reset height for smaller screens */
    box-shadow: none;
  }

  .contact-form form {
    display: grid;
    grid-gap: 2px;
    margin-bottom: 0; /* Reset margin-bottom for smaller screens */
  }
}



@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for tablets (e.g., iPad Air, iPad Mini) */

  .contact-section{
    
    padding: 50px 20px;
    
  }
  
  .contact-content {
    
    width: 400px;
    height: auto; /* Reset height for smaller screens */
  }

  .contact-heading {
    
    text-align: center;
    width: 100%;
  }

 
}












.footer-section {
  background-color: #333;
  color: #fff;
  padding: 100px 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-social a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  
  .footer-section {
    background-color: #333;
    color: #fff;
    padding: 50px 50px;
  }
  
  
  
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo img {
    margin-bottom: 20px;
    max-width: 200px;
  }

  .footer-links ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-social {
    margin-top: 20px;
  }
}

